*{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-position:start;
}

header > img{
    width: 250px;
    margin-top: 90px ;
    margin-bottom: 20px;
}

main{
    padding: 10px;
}
main > h1{
    font-size: 5rem;
}

.text-gray{
    color: gray;
}

.text-gray > span{
    color: #31afe6;
}

#Tim-1{
    width: 55%;
    height: 550px;
}
#Tim-2{
    width: 43%;
    height: 550px;
}