*{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-position:start;
}

header > img{
    width: 250px;
    margin-top: 90px ;
    margin-bottom: 20px;
}

main{
    padding: 10px;
}
main > h1{
    font-size: 5rem;
}

.text-gray{
    color: gray;
}

.text-gray > span{
    color: #31afe6;
}

#Tim-1{
    margin-top: 10px;
    width: 55%;
    height: 550px;
}
#Tim-2{
    margin-top:10px ;
    width: 43%;
    height: 550px;
}

.Lorem{
    margin: 20px 0;
}

.Lorem > span{
    background-color: yellow;
}

ul{
    padding: 20px;
}

table{
    text-align:left;
    border-collapse:collapse;
    width: 100%;
    
}
table > thead{
    background-color: #4ea0ff;
}
th{
    width: 20px;
    color: white;
}

.row-bluesky{
    background-color: #b1e5f2;
}